{% extends "base.html.twig" %}

{% block title %}CardDrawer{% endblock %}

{% block body %}
<h1>Card Drawer</h1>
    <div class="game-div">
        <section>
    <h2>Card drawn:</h2>
<ul class="cards-list">
{% for card in hand %}
<li> {{ card }}</li>
  {% else %}
    <li>No cards drawn yet.</li>
{% endfor %}
<ul>
</section>

<p>Cards remaining: {{ remaining }} in deck. </p>
<div class="actions">
<a href="{{ path('card_draw_one') }}">Draw 1 card</a>
<a href="{{ path('card_draw_num', {num: 3 }) }}">Draw 3 cards</a>

<form method="POST" action="{{ path('card_draw_post') }}" class="card-form">
<label for="num">How many cards do you wish to draw?</label>
<input type="number" id="num" name="num" min="1" max="52" required>
<button type="submit">Draw</button>
</form>
{{ include('flash.html.twig') }}
</div>
<div class="actions">
<a href="{{ path('card_deck_shuffle') }}">Shuffle deck and restart</a>
<a href="{{ path('card_deck_sort') }}">Sort deck and restart</a>
</div>
</div>
{% endblock %}
